In [1]:
#pip install googletrans==4.0.0-rc1

In [2]:
import os
import pandas as pd
import numpy as np
import time

from googletrans import Translator
from numerize import numerize as nz

from tqdm.notebook import tqdm, trange
tqdm.pandas()

### Animation movie Dataset

In [3]:
file = 'D:/Harsshu MBA/ME204/DE-Project/animation_movies_data.csv' 
anime_movies = pd.read_csv(file)
anime_movies

,Unnamed: 0,Title,Genre,Director,Writer,Language,Production Country,Production Company,User Rating,Release Date,Runtime,IMDB Rating,Metascore,Rotten Tomatoes Score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",NaN,NaN,Italiano,NaN,Euphorica Srl,NaN,2025-03-20,1h 36min,NaN,NaN,NaN
1,1,Thelma's Perfect Birthday,"Animation, Family",NaN,NaN,English,NaN,Rija Films,NaN,2025-03-21,1h 11min,NaN,NaN,NaN
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,日本語,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,NaN,NaN,NaN
3,3,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
4,4,Green Man,"Romance, Animation, Adventure",NaN,NaN,NaN,NaN,NaN,NaN,2025-03-23,0h 7min,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,NaN,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,NaN,NaN,NaN
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",NaN,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,NaN,NaN
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,日本語,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,日本語,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,NaN,NaN,NaN
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,NaN,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,NaN,NaN

In [4]:
anime_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1200 non-null   int64
 1   Title                  1172 non-null   object
 2   Genre                  1168 non-null   object
 3   Director               946 non-null    object
 4   Writer                 694 non-null    object
 5   Language               1164 non-null   object
 6   Production Country     1139 non-null   object
 7   Production Company     1147 non-null   object
 8   User Rating            1159 non-null   float64
 9   Release Date           1172 non-null   object
 10  Runtime                1172 non-null   object
 11  IMDB Rating            1113 non-null   float64
 12  Metascore              654 non-null    float64
 13  Rotten Tomatoes Score  428 non-null    float64
dtypes: float64(4), int64(1), object(9)
memory usage: 131.4+ KB

In [5]:
len(anime_movies)

1200

In [6]:
print(anime_movies.columns)

Index(['Unnamed: 0', 'Title', 'Genre', 'Director', 'Writer', 'Language',
       'Production Country', 'Production Company', 'User Rating',
       'Release Date', 'Runtime', 'IMDB Rating', 'Metascore',
       'Rotten Tomatoes Score'],
      dtype='object')

In [7]:
# Drop duplicates
anime_movies = anime_movies.drop_duplicates()

anime_movies = anime_movies.rename(columns={"Unnamed: 0": "title_id"})

anime_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title_id               1200 non-null   int64
 1   Title                  1172 non-null   object
 2   Genre                  1168 non-null   object
 3   Director               946 non-null    object
 4   Writer                 694 non-null    object
 5   Language               1164 non-null   object
 6   Production Country     1139 non-null   object
 7   Production Company     1147 non-null   object
 8   User Rating            1159 non-null   float64
 9   Release Date           1172 non-null   object
 10  Runtime                1172 non-null   object
 11  IMDB Rating            1113 non-null   float64
 12  Metascore              654 non-null    float64
 13  Rotten Tomatoes Score  428 non-null    float64
dtypes: float64(4), int64(1), object(9)
memory usage: 131.4+ KB

In [8]:
anime_movies = (
    anime_movies.rename(columns={
        'Production Country': 'pro_country',
        'Production Company': 'pro_company',
        'User Rating': 'user_rating',
        'Release Date': 'release_date',
        'Run Time': 'run_time',
        'IMDB Rating': 'imdb_rating',
        'Rotten Tomatoes Score':'rt_score'
    })
)

In [9]:
anime_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",NaN,NaN,Italiano,NaN,Euphorica Srl,NaN,2025-03-20,1h 36min,NaN,NaN,NaN
1,1,Thelma's Perfect Birthday,"Animation, Family",NaN,NaN,English,NaN,Rija Films,NaN,2025-03-21,1h 11min,NaN,NaN,NaN
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,日本語,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,NaN,NaN,NaN
3,3,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
4,4,Green Man,"Romance, Animation, Adventure",NaN,NaN,NaN,NaN,NaN,NaN,2025-03-23,0h 7min,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,NaN,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,NaN,NaN,NaN
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",NaN,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,NaN,NaN
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,日本語,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,日本語,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,NaN,NaN,NaN
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,NaN,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,NaN,NaN

In [10]:
# Replace '\n' and '\t' in 'pro_company' column
anime_movies.loc[anime_movies['pro_company'].str.contains(r'\n|\t', na=False), 'pro_company'] = \
    anime_movies['pro_company'].str.replace(r'\n|\t', '', regex=True)

anime_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",NaN,NaN,Italiano,NaN,Euphorica Srl,NaN,2025-03-20,1h 36min,NaN,NaN,NaN
1,1,Thelma's Perfect Birthday,"Animation, Family",NaN,NaN,English,NaN,Rija Films,NaN,2025-03-21,1h 11min,NaN,NaN,NaN
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,日本語,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,NaN,NaN,NaN
3,3,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
4,4,Green Man,"Romance, Animation, Adventure",NaN,NaN,NaN,NaN,NaN,NaN,2025-03-23,0h 7min,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,NaN,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,NaN,NaN,NaN
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",NaN,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,NaN,NaN
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,日本語,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,日本語,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,NaN,NaN,NaN
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,NaN,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,NaN,NaN

In [11]:
print(anime_movies['Language'].unique())

['Italiano' 'English' '日本語' nan '普通话' 'Français' 'Português' '广州话 / 廣州話'
 'No Language' 'Español' 'Hrvatski' 'עִבְרִית' 'Dansk' 'Pусский' 'Deutsch'
 'Latin' '한국어/조선말' 'Український' 'Magyar' 'Català' 'Türkçe']

In [12]:
translator = Translator()

# Get unique language values
unique_languages = anime_movies['Language'].dropna().unique()

# Dictionary to store translations
translation_dict = {}

# Translate each unique value
for lang in unique_languages:
    try:
        translated_text = translator.translate(lang, dest='en').text
        translation_dict[lang] = translated_text
        time.sleep(0.5)  # Prevent API rate limits
    except Exception as e:
        print(f"Error translating '{lang}': {e}")
        translation_dict[lang] = lang  # If translation fails, keep the original text

# Apply the translations back to the DataFrame
anime_movies['Language'] = anime_movies['Language'].map(translation_dict)

# Print unique translated values
print(anime_movies['Language'].unique())

['Italian' 'English' 'Japanese' nan 'mandarin' 'French' 'Portuguese'
 'Guangzhou dialect / Guangzhou dialect' 'No Language' 'Español'
 'Croatian' 'Hebrew' 'Danish' 'Pusian' 'Deutsch' 'Latin' 'Korean/Joseon'
 'Ukrainian' 'Hungarian' 'Catalan' 'Turkish']

In [13]:
anime_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",NaN,NaN,Italian,NaN,Euphorica Srl,NaN,2025-03-20,1h 36min,NaN,NaN,NaN
1,1,Thelma's Perfect Birthday,"Animation, Family",NaN,NaN,English,NaN,Rija Films,NaN,2025-03-21,1h 11min,NaN,NaN,NaN
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,Japanese,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,NaN,NaN,NaN
3,3,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
4,4,Green Man,"Romance, Animation, Adventure",NaN,NaN,NaN,NaN,NaN,NaN,2025-03-23,0h 7min,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,NaN,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,NaN,NaN,NaN
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",NaN,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,NaN,NaN
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,Japanese,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,Japanese,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,NaN,NaN,NaN
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,NaN,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,NaN,NaN

In [14]:
anime_movies['Language'].unique()

array(['Italian', 'English', 'Japanese', nan, 'mandarin', 'French',
       'Portuguese', 'Guangzhou dialect / Guangzhou dialect',
       'No Language', 'Español', 'Croatian', 'Hebrew', 'Danish', 'Pusian',
       'Deutsch', 'Latin', 'Korean/Joseon', 'Ukrainian', 'Hungarian',
       'Catalan', 'Turkish'], dtype=object)

In [15]:
anime_movies['Language'] = anime_movies['Language'].astype(str).str.split('/').str[0].str.strip()
anime_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",NaN,NaN,Italian,NaN,Euphorica Srl,NaN,2025-03-20,1h 36min,NaN,NaN,NaN
1,1,Thelma's Perfect Birthday,"Animation, Family",NaN,NaN,English,NaN,Rija Films,NaN,2025-03-21,1h 11min,NaN,NaN,NaN
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,Japanese,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,NaN,NaN,NaN
3,3,Flow,"Drama, Comedy, Horror, Crime",NaN,NaN,English,NaN,NaN,8.0,1996-01-01,1h 20min,4.9,NaN,NaN
4,4,Green Man,"Romance, Animation, Adventure",NaN,NaN,nan,NaN,NaN,NaN,2025-03-23,0h 7min,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,NaN,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,NaN,NaN,NaN
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",NaN,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,NaN,NaN
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,Japanese,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,Japanese,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,NaN,NaN,NaN
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,NaN,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,NaN,NaN

In [16]:
anime_movies = anime_movies.replace(r'^\s*$', None, regex=True).replace({np.nan: None})

In [17]:
anime_movies

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",None,None,Italian,None,Euphorica Srl,None,2025-03-20,1h 36min,None,None,None
1,1,Thelma's Perfect Birthday,"Animation, Family",None,None,English,None,Rija Films,None,2025-03-21,1h 11min,None,None,None
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,Japanese,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,None,None,None
3,3,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,None,None
4,4,Green Man,"Romance, Animation, Adventure",None,None,nan,None,None,None,2025-03-23,0h 7min,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,None,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,None,None,None
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",None,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,None,None
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,Japanese,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,Japanese,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,None,None,None
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,None,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,None,None

In [18]:
anime_movies = anime_movies.dropna(subset=['Title'])

In [19]:
anime_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1172 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      1172 non-null   int64
 1   Title         1172 non-null   object
 2   Genre         1168 non-null   object
 3   Director      946 non-null    object
 4   Writer        694 non-null    object
 5   Language      1172 non-null   object
 6   pro_country   1139 non-null   object
 7   pro_company   1147 non-null   object
 8   user_rating   1159 non-null   object
 9   release_date  1172 non-null   object
 10  Runtime       1172 non-null   object
 11  imdb_rating   1113 non-null   object
 12  Metascore     654 non-null    object
 13  rt_score      428 non-null    object
dtypes: int64(1), object(13)
memory usage: 137.3+ KB

In [20]:
columns = ['user_rating', 'imdb_rating', 'Metascore', 'rt_score']
anime_movies.loc[:, columns] = anime_movies.loc[:, columns].fillna(0)
anime_movies

C:\Users\Admin\AppData\Local\Temp\ipykernel_12072\1614041357.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  anime_movies.loc[:, columns] = anime_movies.loc[:, columns].fillna(0)

,title_id,Title,Genre,Director,Writer,Language,pro_country,pro_company,user_rating,release_date,Runtime,imdb_rating,Metascore,rt_score
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,"Animation, Comedy",None,None,Italian,None,Euphorica Srl,0.0,2025-03-20,1h 36min,0.0,0.0,0.0
1,1,Thelma's Perfect Birthday,"Animation, Family",None,None,English,None,Rija Films,0.0,2025-03-21,1h 11min,0.0,0.0,0.0
2,2,Batman Ninja vs. Yakuza League,"Animation, Action","Jumpei Mizusaki, Shinji Takagi",Kazuki Nakashima,Japanese,"Japan, United States of America",Kamikaze Douga,6.0,2025-03-17,1h 30min,0.0,0.0,0.0
3,3,Flow,"Drama, Comedy, Horror, Crime",None,None,English,None,None,8.0,1996-01-01,1h 20min,4.9,0.0,0.0
4,4,Green Man,"Romance, Animation, Adventure",None,None,nan,None,None,0.0,2025-03-23,0h 7min,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,Scooby-Doo! Music of the Vampire,"Family, Animation, Mystery, Adventure, Comedy,...",David Block,None,English,United States of America,Warner Bros. Animation,7.7,2012-03-07,1h 19min,0.0,0.0,0.0
1196,1196,The Gruffalo's Child,"Adventure, Animation, Family, Fantasy","Uwe Heidschötter, Johannes Weiland",None,English,"Germany, United Kingdom, United States of America",Magic Light Pictures,6.8,2011-12-25,0h 26min,7.1,0.0,0.0
1197,1197,Fullmetal Alchemist the Movie: The Sacred Star...,"Adventure, Fantasy, Animation, Action, Science...",Kazuya Murata,Yuichi Shinbo,Japanese,Japan,BONES,6.8,2011-07-02,1h 50min,6.9,54.0,83.0
1198,1198,TEKKEN: Blood Vengeance,"Action, Animation, Science Fiction",Youichi Mouri,Dai Sato,Japanese,Japan,Digital Frontier,6.7,2011-07-26,1h 40min,0.0,0.0,0.0
1199,1199,The Smurfs: A Christmas Carol,"Animation, Comedy, Family",Troy Quane,None,English,United States of America,Sony Pictures Animation,6.7,2011-12-02,0h 22min,6.1,0.0,0.0

In [21]:
converted_cols = ['user_rating', 'imdb_rating', 'Metascore', 'rt_score']

for col in converted_cols:
    anime_movies.loc[:, col] = anime_movies.loc[:, col].astype(float, errors='ignore')

In [22]:
anime_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1172 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      1172 non-null   int64
 1   Title         1172 non-null   object
 2   Genre         1168 non-null   object
 3   Director      946 non-null    object
 4   Writer        694 non-null    object
 5   Language      1172 non-null   object
 6   pro_country   1139 non-null   object
 7   pro_company   1147 non-null   object
 8   user_rating   1172 non-null   object
 9   release_date  1172 non-null   object
 10  Runtime       1172 non-null   object
 11  imdb_rating   1172 non-null   object
 12  Metascore     1172 non-null   object
 13  rt_score      1172 non-null   object
dtypes: int64(1), object(13)
memory usage: 137.3+ KB

In [23]:
import pandas as pd
import ast

def explode_column(anime_movies, column_name, new_column_name):
    expanded_df = anime_movies[['title_id', column_name]].copy()  # Use title_id as the reference
    
    # Convert string lists into actual lists safely
    def safe_convert_list(value):
        if isinstance(value, str):  
            try:
                return ast.literal_eval(value) if value.startswith('[') else value.split(', ')
            except (SyntaxError, ValueError):
                return value.split(', ')  # If conversion fails, assume it's a comma-separated string
        elif isinstance(value, list):
            return value  # Already a list, return as is
        else:
            return [value]  # Convert single values into a list

    expanded_df[column_name] = expanded_df[column_name].apply(safe_convert_list)

    # Explode into multiple rows
    expanded_df = expanded_df.explode(column_name).dropna().reset_index(drop=True)
    
    # Rename the column
    expanded_df.rename(columns={column_name: new_column_name}, inplace=True)
    return expanded_df



# Apply the function to explode multiple columns
writers_df = explode_column(anime_movies, 'Writer', 'writer_name')
genres_df = explode_column(anime_movies, 'Genre', 'genre')
production_companies_df = explode_column(anime_movies, 'pro_company', 'company_name')
languages_df = explode_column(anime_movies, 'Language', 'languages')
country_df = explode_column(anime_movies, 'pro_country', 'country')
director_df = explode_column(anime_movies,'Director','director_name')

# Drop exploded columns from the main DataFrame
anime_movies = anime_movies.drop(columns=['Writer', 'Genre', 'pro_company', 'Language', 'pro_country','Director'])

# Display results
print("Genres DataFrame:\n", genres_df)
print("Writers DataFrame:\n", writers_df)
print("Languages DataFrame:\n", languages_df)
print("Production Companies DataFrame:\n", production_companies_df)
print("Origin Countries DataFrame:\n", country_df)
print("director DataFrame:\n",director_df)

Genres DataFrame:
       title_id            genre
0            0        Animation
1            0           Comedy
2            1        Animation
3            1           Family
4            2        Animation
...        ...              ...
4342      1198        Animation
4343      1198  Science Fiction
4344      1199        Animation
4345      1199           Comedy
4346      1199           Family

[4347 rows x 2 columns]
Writers DataFrame:
       title_id          writer_name
0            2     Kazuki Nakashima
1            5   Dana Ledoux Miller
2            5           Jared Bush
3            6       Jordan Roberts
4            6        Daniel Gerson
...        ...                  ...
1247      1192         Clare Peploe
1248      1192  Bernardo Bertolucci
1249      1193          Tom Wheeler
1250      1197        Yuichi Shinbo
1251      1198             Dai Sato

[1252 rows x 2 columns]
Languages DataFrame:
       title_id languages
0            0   Italian
1            1   English
2            2  Japanese
3            3   English
4            4       nan
...        ...       ...
1167      1195   English
1168      1196   English
1169      1197  Japanese
1170      1198  Japanese
1171      1199   English

[1172 rows x 2 columns]
Production Companies DataFrame:
       title_id              company_name
0            0             Euphorica Srl
1            1                Rija Films
2            2            Kamikaze Douga
3            5      Walt Disney Pictures
4            6      Walt Disney Pictures
...        ...                       ...
1143      1195    Warner Bros. Animation
1144      1196      Magic Light Pictures
1145      1197                     BONES
1146      1198          Digital Frontier
1147      1199   Sony Pictures Animation

[1148 rows x 2 columns]
Origin Countries DataFrame:
       title_id                   country
0            2                     Japan
1            2  United States of America
2            5                    Canada
3            5  United States of America
4            6  United States of America
...        ...                       ...
1484      1196            United Kingdom
1485      1196  United States of America
1486      1197                     Japan
1487      1198                     Japan
1488      1199  United States of America

[1489 rows x 2 columns]
director DataFrame:
       title_id         director_name
0            2       Jumpei Mizusaki
1            2         Shinji Takagi
2            5  David G. Derrick Jr.
3            5            Jason Hand
4            5    Dana Ledoux Miller
...        ...                   ...
1302      1196      Uwe Heidschötter
1303      1196      Johannes Weiland
1304      1197         Kazuya Murata
1305      1198         Youichi Mouri
1306      1199            Troy Quane

[1307 rows x 2 columns]

In [24]:
ratings_column = ['title_id', 'user_rating', 'imdb_rating', 'Metascore', 'rt_score']
rating_df = anime_movies[ratings_column].copy()
anime_movies = anime_movies.drop(columns=['user_rating', 'imdb_rating', 'Metascore', 'rt_score'])

In [25]:
rating_df

      title_id user_rating imdb_rating Metascore rt_score
0            0         0.0         0.0       0.0      0.0
1            1         0.0         0.0       0.0      0.0
2            2         6.0         0.0       0.0      0.0
3            3         8.0         4.9       0.0      0.0
4            4         0.0         0.0       0.0      0.0
...        ...         ...         ...       ...      ...
1195      1195         7.7         0.0       0.0      0.0
1196      1196         6.8         7.1       0.0      0.0
1197      1197         6.8         6.9      54.0     83.0
1198      1198         6.7         0.0       0.0      0.0
1199      1199         6.7         6.1       0.0      0.0

[1172 rows x 5 columns]

In [26]:
anime_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1172 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_id      1172 non-null   int64
 1   Title         1172 non-null   object
 2   release_date  1172 non-null   object
 3   Runtime       1172 non-null   object
dtypes: int64(1), object(3)
memory usage: 45.8+ KB

In [27]:
import sqlite3

In [28]:
DATA_FOLDER = os.path.join('D:/Harsshu MBA/ME204/DE-Project')

In [29]:
conn = sqlite3.connect(os.path.join(DATA_FOLDER, './AnimeMovies.db'))

In [30]:
anime_movies.to_sql('disney_anime_movies', conn, if_exists='replace', index=False)

1172

In [31]:
pd.read_sql('SELECT * FROM disney_anime_movies LIMIT 10', conn)

,title_id,Title,release_date,Runtime
0,0,Famiglia Imbarazzi - La maledizione dello zocc...,2025-03-20,1h 36min
1,1,Thelma's Perfect Birthday,2025-03-21,1h 11min
2,2,Batman Ninja vs. Yakuza League,2025-03-17,1h 30min
3,3,Flow,1996-01-01,1h 20min
4,4,Green Man,2025-03-23,0h 7min
5,5,Moana 2,2024-11-21,1h 39min
6,6,Big Hero 6,2014-10-24,1h 42min
7,7,Doctor Who: The Savages,1966-06-18,1h 40min
8,8,Shrek,2001-05-18,1h 30min
9,9,Penguins of Madagascar,2014-11-22,1h 32min

In [32]:
genres_df.to_sql('genre', conn, if_exists='replace', index=False)

4347

In [33]:
pd.read_sql('SELECT * FROM genre LIMIT 10', conn)

   title_id      genre
0         0  Animation
1         0     Comedy
2         1  Animation
3         1     Family
4         2  Animation
5         2     Action
6         3      Drama
7         3     Comedy
8         3     Horror
9         3      Crime

In [34]:
languages_df.to_sql('languages', conn, if_exists='replace', index=False)

1172

In [35]:
pd.read_sql('SELECT * FROM languages LIMIT 10', conn)

   title_id languages
0         0   Italian
1         1   English
2         2  Japanese
3         3   English
4         4       nan
5         5   English
6         6   English
7         7   English
8         8   English
9         9   English

In [36]:
rating_df.to_sql('ratings',conn, if_exists='replace', index=False)

1172

In [37]:
pd.read_sql('SELECT * FROM ratings LIMIT 10', conn)

   title_id  user_rating  imdb_rating  Metascore  rt_score
0         0          0.0          0.0        0.0       0.0
1         1          0.0          0.0        0.0       0.0
2         2          6.0          0.0        0.0       0.0
3         3          8.0          4.9        0.0       0.0
4         4          0.0          0.0        0.0       0.0
5         5          7.1          6.9       58.0      61.0
6         6          7.7          7.8       74.0      90.0
7         7          7.3          0.0        0.0       0.0
8         8          7.7          7.9       84.0      88.0
9         9          6.5          6.6       53.0      74.0

In [38]:
production_companies_df.to_sql('company_name',conn, if_exists='replace', index=False)

1148

In [39]:
pd.read_sql('SELECT * FROM company_name LIMIT 10', conn)

   title_id           company_name
0         0          Euphorica Srl
1         1             Rija Films
2         2         Kamikaze Douga
3         5   Walt Disney Pictures
4         6   Walt Disney Pictures
5         7                    BBC
6         8    Pacific Data Images
7         9   DreamWorks Animation
8        10             Arenamedia
9        11             Studio Mir

In [40]:
country_df.to_sql('country',conn, if_exists='replace', index=False)

1489

In [41]:
pd.read_sql('SELECT * FROM country LIMIT 10', conn)

   title_id                   country
0         2                     Japan
1         2  United States of America
2         5                    Canada
3         5  United States of America
4         6  United States of America
5         7            United Kingdom
6         8  United States of America
7         9  United States of America
8        10                 Australia
9        11                    Poland

In [42]:
writers_df.to_sql('writer_name',conn, if_exists='replace', index=False)

1252

In [43]:
pd.read_sql('SELECT * FROM writer_name LIMIT 10', conn)

   title_id         writer_name
0         2    Kazuki Nakashima
1         5  Dana Ledoux Miller
2         5          Jared Bush
3         6      Jordan Roberts
4         6       Daniel Gerson
5         6     Robert L. Baird
6         9      Michael Colton
7         9          John Aboud
8         9      Brandon Sawyer
9        11      Mike Ostrowski

In [44]:
director_df.to_sql('director_name',conn, if_exists='replace', index=False)

1307

In [45]:
pd.read_sql('SELECT * FROM director_name LIMIT 10', conn)

   title_id         director_name
0         2       Jumpei Mizusaki
1         2         Shinji Takagi
2         5  David G. Derrick Jr.
3         5            Jason Hand
4         5    Dana Ledoux Miller
5         6              Don Hall
6         6        Chris Williams
7         7     Christopher Barry
8         8        Andrew Adamson
9         8          Vicky Jenson

In [46]:
conn.commit()

In [47]:
conn.close()